<div class="my-words section">
  <div id="zhifangzi">
    <div class="container">
      <div class="row">
        <div class="jumbotron text-center">
          <div class="logo">
            <a href="/"><img alt="GugeView" src="/images/logo.png"></a>
          </div>
          <h1>骨哥的视界</h1>
          <!--<p>快乐{源于}分享</p>-->
          <p>用文章表达态度，用代码传递思想，极简风格程序员主站</p>
          <p>采用Ruby On Rails构建</p>
          <p id="maison-github"><%= link_to 'Code on Github', 'https://github.com/ShayneChow/MyBlog', :class => 'btn btn-default btn-lg btn-github', target: '_blank' %></p>
        </div>
      </div>
    </div>
  </div>
</div>