<div class="my-words section">
  <div id="zhifangzi">
    <div class="container">
      <div class="row">
        <div class="jumbotron text-center">
          <div class="logo">
            <a href="/"><img alt="GugeView" src="/images/logo.png"></a>
          </div>
          <h1>骨哥的视界</h1><br/>
          <p>一段文字一种思维，一行代码一份努力，一个不一样的产品视界</p>
          <p>Powered by Ruby On Rails  <img alt="Ruby On Rails" src="/images/diamond.png" ></p>
          <a href="https://github.com/ShayneChow/MyBlog" target="_blank"><img alt="code on github" src="/images/github_1.png" ></a>
          <a href="https://www.facebook.com/xiang.zhou.37669?ref=tn_tnmn" target="_blank"><img alt="find me on facebook" src="/images/facebook.png" ></a>
          <a href="https://plus.google.com/u/1/102641934252991408561/posts" target="_blank"><img alt="find me on google+" src="/images/gplus.png" ></a>
          <a href="https://twitter.com/HaneyZhow" target="_blank"><img alt="find me on twitter" src="/images/twitter.png" ></a>
        </div>
      </div>
    </div>
  </div>
</div>