    <div class="col-sm-offset-3 col-md-6">
      <div class="thumbnail">
        <div class="blog-model">
          <%= link_to '文章 ~ 观点', admin_posts_path %>
        </div>
        <div class="caption">
          <h4>发掘有价值的产品，做有意义的研究。</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-offset-3 col-md-6">
      <div class="thumbnail">
        <div class="share-model">
          <%= link_to '片段 ~ 分享', admin_posts_path %>
        </div>
        <div class="caption">
          <h4>凝聚思维的碎片，汇集怪异的想法。</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-offset-3 col-md-6">
      <div class="thumbnail">
        <div class="code-model">
          <%= link_to '学习 ~ 积累', admin_posts_path %>
        </div>
        <div class="caption">
          <h4>做一个不断进步的人，就需要不停的学习。</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-offset-3 col-md-6">
      <div class="thumbnail">
        <div class="wallpaper-model">
          <%= link_to '生活 ~ 记录', admin_works_path %>
        </div>
        <div class="caption">
          <h4>记录点滴生活，愿阳关照耀在每一个我关心的人身上。</h4>
        </div>
      </div>
    </div>

