
          <nav>
            <ul class="nav">
              <li><%= link_to '首页', root_path %></li>
              <li><%= link_to '文章', posts_path %></li>
              <li><%= link_to '分享', posts_path %></li>
              <li><%= link_to '关于', works_path %></li>
            </ul>
          </nav>
